<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <body>

    </body>
</head>
<body  style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;"
>

    <div style="background-color: #eeeeee; margin-top: 5em; width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }">

        <h1 >Sign Up</h1>

<!--        <form th:object="${user}" th:action="@{/signup}" action="#" method="POST">-->

<!--            <div class="form-row">-->
<!--                <div class="form-group">-->
<!--                    <label for="inputFirstName">First Name</label>-->
<!--                    <input th:field="*{firstname}" type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="Enter First Name" maxlength="20" required>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="inputLastName">Last Name</label>-->
<!--                    <input th:field="*{lastname}" type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Enter Last Name" maxlength="20" required>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-row">-->
<!--                <div class="form-group">-->
<!--                    <label for="inputUsername">Username</label>-->
<!--                    <input th:field="*{username}" type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter Username" maxlength="20" required>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="inputPassword">Password</label>-->
<!--                    <input th:field="*{password}" type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter Password" maxlength="20" required>-->
<!--                </div>-->
<!--            </div>-->

<!--            <button type="submit" class="btn btn-primary">Sign Up</button>-->

<!--        </form>-->

    </div>

</body>
</html>